In [1]:
import numpy as np
import pandas as pd

In [2]:
dic1={
    "name":['harry','rohan','skillf','sam'],
    "marks":[10,30,20,40],
    "city":['Dhaka','ctg','chandpur','noakhali']
}

In [3]:
df=pd.DataFrame(dic1)

In [4]:
df

     name  marks      city
0   harry     10     Dhaka
1   rohan     30       ctg
2  skillf     20  chandpur
3     sam     40  noakhali

In [5]:
df.to_csv('friends.csv')

In [6]:
df.to_excel("friends.xlsx', index = False)

SyntaxError: unterminated string literal (detected at line 1) (3663029538.py, line 1)

In [7]:
df.to_excel('File_Name.xlsx', index = False)

ModuleNotFoundError: No module named 'openpyxl'

In [8]:
df.to_excel('sam.xlsx', index = False)

ModuleNotFoundError: No module named 'openpyxl'

In [9]:
df.head(2)

    name  marks   city
0  harry     10  Dhaka
1  rohan     30    ctg

In [10]:
df.tail(3)

     name  marks      city
1   rohan     30       ctg
2  skillf     20  chandpur
3     sam     40  noakhali

In [11]:
df.describe()

           marks
count   4.000000
mean   25.000000
std    12.909944
min    10.000000
25%    17.500000
50%    25.000000
75%    32.500000
max    40.000000

In [12]:
pd.read_csv('friends.csv')

   Unnamed: 0    name  marks      city
0           0   harry     10     Dhaka
1           1   rohan     30       ctg
2           2  skillf     20  chandpur
3           3     sam     40  noakhali

In [13]:
sam=pd.read_csv('friends.csv')

In [14]:
sam

   Unnamed: 0    name  marks      city
0           0   harry     10     Dhaka
1           1   rohan     30       ctg
2           2  skillf     20  chandpur
3           3     sam     40  noakhali

In [15]:
sam.index=['1st','2nd','3rd','4th']

In [16]:
sam

     Unnamed: 0    name  marks      city
1st           0   harry     10     Dhaka
2nd           1   rohan     30       ctg
3rd           2  skillf     20  chandpur
4th           3     sam     40  noakhali

In [17]:
df.to_excel('sam.xlsx', index = False)

In [18]:
sam[0][2]=50

KeyError: 0

In [19]:
sam

     Unnamed: 0    name  marks      city
1st           0   harry     10     Dhaka
2nd           1   rohan     30       ctg
3rd           2  skillf     20  chandpur
4th           3     sam     40  noakhali

In [20]:
abc=sam

In [21]:
abc[0][2]=50

KeyError: 0

In [22]:
abc

     Unnamed: 0    name  marks      city
1st           0   harry     10     Dhaka
2nd           1   rohan     30       ctg
3rd           2  skillf     20  chandpur
4th           3     sam     40  noakhali

In [23]:
sam=df.to_csv('friends.csv')

In [24]:
sam

In [25]:
sam

In [26]:
abc=sam

In [27]:
df.read_csv('friends.csv')

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [28]:
pd.read_csv('friends.csv')

   Unnamed: 0    name  marks      city
0           0   harry     10     Dhaka
1           1   rohan     30       ctg
2           2  skillf     20  chandpur
3           3     sam     40  noakhali

In [29]:
sam=pd.read_csv('friends.csv')

In [30]:
sam[0][2]=50

KeyError: 0

In [31]:
sam

   Unnamed: 0    name  marks      city
0           0   harry     10     Dhaka
1           1   rohan     30       ctg
2           2  skillf     20  chandpur
3           3     sam     40  noakhali

In [32]:
sam[1][2]=50

KeyError: 1

In [33]:
sam

   Unnamed: 0    name  marks      city
0           0   harry     10     Dhaka
1           1   rohan     30       ctg
2           2  skillf     20  chandpur
3           3     sam     40  noakhali

In [34]:
abc=sam

In [35]:
abc[0][2]=100

KeyError: 0

In [36]:
sam

   Unnamed: 0    name  marks      city
0           0   harry     10     Dhaka
1           1   rohan     30       ctg
2           2  skillf     20  chandpur
3           3     sam     40  noakhali

In [37]:
marks[0][2]=50

NameError: name 'marks' is not defined

In [38]:
sam

   Unnamed: 0    name  marks      city
0           0   harry     10     Dhaka
1           1   rohan     30       ctg
2           2  skillf     20  chandpur
3           3     sam     40  noakhali

In [39]:
sam[0][2]=50

KeyError: 0

In [40]:
sam['marks'][2]=50

C:\Users\SANJIDA\AppData\Local\Temp\ipykernel_23892\718125874.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sam['marks'][2]=50

In [41]:
sam

   Unnamed: 0    name  marks      city
0           0   harry     10     Dhaka
1           1   rohan     30       ctg
2           2  skillf     50  chandpur
3           3     sam     40  noakhali