In [1]:
import numpy as np
import pandas as pd

In [6]:
dic={
    "name":['sama','mama','tama'],
    "marks":[10,20,30]
}

In [7]:
pd.DataFrame(dic)

   name  marks
0  sama     10
1  mama     20
2  tama     30

In [9]:
df=pd.DataFrame(dic)

In [10]:
df

   name  marks
0  sama     10
1  mama     20
2  tama     30

In [11]:
df.to_csv('hi.csv')

In [13]:
df.to_csv('hi.csv',index=False)

In [14]:
dic1={
    "name":['sama','mama','tama'],
    "marks":[10,20,30],
     "GPA":[3.5,3.0,4.0]
}

In [15]:
df1=pd.DataFrame(dic1)

In [16]:
df1

   name  marks  GPA
0  sama     10  3.5
1  mama     20  3.0
2  tama     30  4.0

In [17]:
df.describe()

       marks
count    3.0
mean    20.0
std     10.0
min     10.0
25%     15.0
50%     20.0
75%     25.0
max     30.0

In [18]:
dic2={
    "name":['sama','mama','tama'],
     "GPA":[3.5,3.0,4.0],
    "marks":[10,20,30]
}

In [19]:
df2=pd.DataFrame(dic2)

In [20]:
df2.describe()

        GPA  marks
count  3.00    3.0
mean   3.50   20.0
std    0.50   10.0
min    3.00   10.0
25%    3.25   15.0
50%    3.50   20.0
75%    3.75   25.0
max    4.00   30.0

In [21]:
df1.describe()

       marks   GPA
count    3.0  3.00
mean    20.0  3.50
std     10.0  0.50
min     10.0  3.00
25%     15.0  3.25
50%     20.0  3.50
75%     25.0  3.75
max     30.0  4.00

In [23]:
sam=pd.read_csv('friends.csv')

In [24]:
sam

      name   gpa  roll     city
0    anika  5.00    10    dhaka
1  samanta  4.50     2  chanpur
2  sanjida  4.75     3       nk
3   narita  4.89     5      ctg

In [26]:
pd.read_csv('friends.csv')

      name   gpa  roll     city
0    anika  5.00    10    dhaka
1  samanta  4.50     2  chanpur
2  sanjida  4.75     3       nk
3   narita  4.89     5      ctg

In [27]:
sam=pd.read_csv('friends.csv')

In [28]:
sam['roll']

0    10
1     2
2     3
3     5
Name: roll, dtype: int64

In [29]:
sam['roll'][0]=20

C:\Users\SANJIDA\AppData\Local\Temp\ipykernel_25728\3479354267.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sam['roll'][0]=20

In [30]:
sam['roll']

0    20
1     2
2     3
3     5
Name: roll, dtype: int64

In [31]:
sam.to_csv('friends.csv')

PermissionError: [Errno 13] Permission denied: 'friends.csv'

In [ ]:
sam.to_csv('friends.csv')